<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <!-- Используется, когда точка входа приложения установлена на Activity, в противном случае удалите этот блок активности -->
        <activity android:name="com.unity3d.player.UnityPlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>

        <!-- Используется, когда точка входа приложения установлена на GameActivity, в противном случае удалите этот блок активности -->
        <activity android:name="com.unity3d.player.UnityPlayerGameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="android.app.lib_name" android:value="game" />
        </activity>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-3940256099942544~3347511713"/>

        <!-- Добавьте следующий элемент для получения информации о приложении -->
        <service
                android:name="com.google.android.gms.ads.AdService"
                android:permission="com.google.android.gms.permission.AD_ID" />

        <!-- Включите полное разрешение для отображения рекламных объявлений -->
        <receiver
                android:name="com.google.android.gms.ads.AdReceiver"
                android:enabled="true"
                android:exported="true" />
    </application>
</manifest>
